body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: #0F0F11;
}

.navigation-container {
    width: 20%;
    max-width: 100px;
    min-width: 70px;
    border: 1px solid #1C1C1C;
}

.main {
    background-color: coral;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tweets-sidebar-container {
    background-color: cyan;
    flex: 1;
}

.tweets-search-container {
    height: 70px;
    margin: 20px;
    background-color: red;
}

.tweets-list {
    height: 500px;
    margin: 20px;
    background-color: #546bf0;
}

.tweet-container {
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: white;
    margin: 10px;
}

.tweets-sidebar-container {
    display: flex;
}

.tweets-sidebar {
    width: 200px;
    height: 500px;
    margin: 20px;
    background-color: bisque;
}

.navigation {
    color: white;
    margin-top: 30px;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo i {
    font-size: 35px;
}

.home-link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-right: 3px solid #00adff;
    height: 40px;
    align-items: center;
}

.home-link i {
    color: #00adff;
}

.profile-container {    
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.profile {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid #979797;
    border-radius: 50%;
}